@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$light-color: #fff;
$accent-color: #65e4a7;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;


body {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    box-sizing: border-box;
    
}

h3 {
    font-size: 24px;
}

.page {
    padding-top: 161px;
    &_gray {
        background-color: $bg-light-color;
    }
    &__title {
        font-size: 48px;
        text-align: center;
        letter-spacing: 2px;
    }
    &__subtitle {
        font-family: "Roboto Slab", serif;
        color: $accent-color;
        font-size: 18px;
        display: block;
        margin-top: 13px;
        letter-spacing: 1px;
        font-weight: 400;
    }
}

.page-main {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-color;
    padding-bottom: 159px;
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 180px;
    &__logo {
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/Logo.svg);
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        font-family: 'Open Sans', serif;
        &__item {  
            margin-left: 20px;
        }
        &__link {
            text-decoration: none;
            color: $light-color;
            letter-spacing: 0.8px;
            border-bottom: 3px solid transparent;
            transition: .2s;
            margin-bottom: 46px;
            &:hover {
                border-bottom: 3px solid $accent-color;
                padding-bottom: 3px;
            }
        }
        &__link.active {
            border-bottom: 3px solid $accent-color;
            padding-bottom: 3px;
        }
    }
}

.block-text {
    flex-basis: calc(93% - 500px);
    &-item {
        margin-top: 46px;
        margin-left: 19px;
        margin-bottom: 63px;
        &__date {
            font-family: "Open Sans",serif;
            font-weight: 400;
            font-size: 15px;
            letter-spacing: 0.6px;
        }
        &__title {
            font-family: "Roboto Slab" ,serif;
            font-weight: 700;
            font-size: 18px; 
            margin-top: -5px;
            letter-spacing: 0.9px;
        }
        &__desc {
            font-family: "Open Sans",serif;
            font-size: 15px;
            font-weight: 400;
            margin-top: 17px;
            line-height: 24px;
            letter-spacing: 0.7px;
        }
        &__btn {
            display: inline-block;
            text-decoration: none;
            color: $bg-light-color;
            background-color: $accent-color;
            border-radius: 3px;
            padding: 14px 40px;
            font-family: "Roboto Slab",serif;
            font-weight: 400;
            box-shadow: 0 -2px #b2f1be inset;
            margin-top: 10px;
        }
    }
    small {
        letter-spacing: 0.2px;
        font-size: 12px;
        font-weight: 100;
    }
    &__btn--main {
        position: relative;
        display: block;
        background-color: #65e4a7;
        color: #fff;
        text-decoration: none;
        max-width: 238px;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        margin-top: 47px;
        letter-spacing: 0.7px;
        padding: 15px 6px;
        margin-bottom: 19px;
        box-shadow: 0 -2px #59bc88 inset;

    }
        
    &__name {
        font-family: 'Open Sans', serif;
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 29px;
        margin-top: 6px;
        &_top {
            margin-top: 16px;
        }
        &--two {
            margin-top: -3px;
            margin-left: 19px;
        }
    }
    

    &__title {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1.9px;
        &-top {
            margin-top: -10px;
        }

        &--two {
            margin-left: 19px;
        }

        span {
            display: block;
            color: $accent-color;
            font-size: 18px;
            font-weight: 400;
            margin-top: 11px;
            margin-bottom: 39px;
            letter-spacing: 1.17px;
        }
    }
    &__description {
        font-family: 'Open Sans', serif;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 24px;
        letter-spacing: 0.74px;
    }
}

.block-book {
    display: flex;
    justify-content: flex-start;
    &-demo {
        display: block;
        width: 447px;
        height: 643px;
        background-image: url('../img/book.svg');
        background-repeat: no-repeat;
        flex-basis: 500px;
        position: relative;
        &__title {
            font-family: 'Roboto Slab', serif;
            text-transform: uppercase;
            font-size: 36px;
            position: absolute;
            top: 114px;
            left: calc(50% - 119px);
            letter-spacing: 1.3px;
            span {
                font-family: 'Open Sans', serif;
                display: block;
                font-size: 14px;
                color: $accent-color;
                text-transform: initial;
                margin-top: 4px;
                letter-spacing: 0.7px;
            }
        }
        &__author {
            font-family: 'Open Sans', serif;
            font-size: 14px;
            color: $accent-color;
            position: absolute;
            bottom: 42px;
            left: 87px;
            letter-spacing: 0.6px;
        }
    }
}


.block-author {
    padding-bottom: 59px;
    display: flex;
    justify-content: space-between;
    &__btn {
        position: relative;
        display: block;
        background-color: #65e4a7;
        color: #fff;
        text-decoration: none;
        max-width: 238px;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        margin-top: 47px;
        letter-spacing: 0.7px;
        padding: 15px 6px;
        margin-bottom: 19px;
        box-shadow: 0 -2px #b2f1be inset;
    }
}

.block-ava {
    position: relative;
    &__svg {
        position: absolute;
        z-index: -1;
        right: 0;
    }
    &__img {
        margin-top: 48px;
        margin-right: 44px;
    }
}


.block-ava__img--two {
    margin-top: 47px;
    margin-left: 50px;
}

.block-ava__svg--two {
    left: 0;
}


.block-counter {
    display: flex;
    justify-content: space-around;
    margin-top: 161px;
    padding-bottom: 126px;
    p {
        font-family: 'Open Sans', serif;
        font-size: 18px;
        text-align: center;
        span {
            font-family: 'Roboto Slab', serif;
            font-size: 80px;
            font-weight: 100;
            display: block;
            color: $accent-color;
            margin-bottom: 13px;
        }
    }
}

.block-about {
    display: flex;
    justify-content: space-between;
    margin-top: 84px;
    p {
        font-family: "Open Sans", serif;
    }

    h3 {
        margin-bottom: 25px;
        letter-spacing: 1.2px;
        margin-bottom: 20px;
    }
    &__text {
        flex-basis: 40%;
        line-height: 24px;


        &-description {
            letter-spacing: 0.8px;
        }
        
        &__features {
            font-family: "Roboto Slab", serif;
            font-size: 18px;
            margin-top: -2px;
            letter-spacing: 1.4px;
            font-weight: 700;
            display: flex;
            align-items: center;
            &__list {
                display: flex;
                list-style-type: none;
                margin-left: 17px;
                font-size: 18px;
                &__item {
                    margin-right: 10px;
                    &__link {
                        &-icon {
                            color: $accent-color;
                        }
                    }
                }
            }
        }
    }



    &__table {
        flex-basis: 50%;
        &__list {
            margin: 0;
            margin-top: 25px;
            padding: 0;
            counter-reset: list;
            column-count: 2;
            li {
                position: relative;
                padding-left: 37px;
                list-style-type: none;
                counter-increment: list;
                margin-left: 14px;
                margin-bottom: 8px;
                line-height: 24px;
                &::before {
                    content: counter(list) ". ";
                }

                &::after {
                    position: absolute;
                    content: "+";
                    left: 0;
                    background-color: #5fc9b7;
                    color: $light-color;
                    padding: 1px 6px;
                    font-family: "Open Sans", serif;
                    font-size: 15px;
                    line-height: 21px;
                }
            }
        }
        &-btn {
            position: relative;
            left: 0px;
            border: none;
            color: $bg-light-color;
            background: linear-gradient(to top left, #65e49c, #65e4b0);
            padding: 14px 45px;
            border-radius: 5%;
            margin-top: 28px;
            margin-left: 16px;
            font-family: "Roboto Slab", serif;
            font-size: 18px;
            box-shadow: 0 -2px #b2f1be inset;
        }

        &-title {
            font-family: "Roboto Slab", serif;
            position: relative;
            left: 12px;
        }
    }
}

.other-books {
    margin: 125px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    &__container {
        
        &__book {
            background-image: url('../img/book-mini.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 268px;
            height: 409px;
            display: block;
            margin: 0 auto;
            position: relative;
            &-title {
                font-family: "Roboto Slab", serif;
                font-size: 24px;
                font-weight: 800;
                color: $bg-light-color;
                position: absolute;
                text-transform: uppercase;
                top: 71px;
                left: calc(50% - 70px);
                letter-spacing: 1px;
                margin-top: 40px;
                span {
                    font-family: "Open Sans", serif;
                    font-size: 12px;
                    display: block;
                    color: $accent-color;
                    font-weight: initial;
                    position: absolute;
                    text-transform: initial;
                }
            }
            &-text {
                font-family: "Open Sans", serif;
                font-size: 12px;
                color: $accent-color;
                position: absolute;
                bottom: 22px;
                left: 72px;

            }
        }
        &-title {
            font-size: 24px;
            margin-top: 40px;
        }
        &-text {
            font-family: "Open Sans", serif;
            font-size: 15px;
            margin-top: 20px;
            margin-bottom: 30px;
        }
        &-link {
            color: $accent-color;
            text-decoration: none;
            font-family: "Open Sans", serif;
            font-size: 15px;
            font-weight: 800;
        }
    }
    &-btn {
        color: white;
        border: none;
        background-color: #65e4a7;
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 13px 38px;
        border-radius: 5px;
        font-family: "Roboto Slab", serif;
        font-size: 18px;
        box-shadow: 0 -2px #b2f1be inset;
        }
    }

.block-blog {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    &__item {
        &-img {
            position: relative;
            overflow: hidden;
            width: 369px;
            height: 224px;
            img {
                position: absolute;
                width: 369px;
                height: 224px;
                object-fit: cover;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &-title {
            font-size: 18px;
            margin-top: 18px;
            letter-spacing: 0.9px;
        }

        &-subtitle {
            font-size: 15px;
            font-family: "Roboto Slab",serif;
            margin-top: 8px;
            letter-spacing: 0.5px;
            span {
                color: $accent-color;
            }
        }

        &-desc {
            font-family: "Open Sans",serif;
            font-size: 15px;
            margin-top: 15px;
            letter-spacing: 0.7px;
            line-height: 24px;
        }
    }
    &-btn {
        margin-top: 70px;
    }
}