@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$light-color: #fff;
$accent-color: #65e4a7;



body {
    font-family: 'Roboto Slab', serif;
}

.page-main {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-color;
    padding-bottom: 159px;
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 180px;
    &__logo {
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/Logo.svg);
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        font-family: 'Open Sans', serif;
        &__item {  
            margin-left: 20px;
        }
        &__link {
            text-decoration: none;
            color: $light-color;
            letter-spacing: 0.8px;
            border-bottom: 3px solid transparent;
            transition: .2s;
            margin-bottom: 46px;
            &:hover {
                border-bottom: 3px solid $accent-color;
                padding-bottom: 3px;
            }
        }
        &__link.active {
            border-bottom: 3px solid $accent-color;
            padding-bottom: 3px;
        }
    }
}

.block-text {
    small {
        letter-spacing: 0px;
        font-size: 12px;
        font-weight: 100;
        font-style: italic;
    }
    flex-basis: calc(93% - 500px);
    &__btn {
        display: block;
        background-color: $accent-color;
        color: $light-color;
        text-decoration: none;
        max-width: 250px;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        margin-top: 47px;
        letter-spacing: 0.7px;
        padding: 14px 0;
        margin-bottom: 20px;
    }
        
    &__name {
        font-family: 'Open Sans', serif;
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 28px;
        margin-top: 3px;
        &-top {
            margin-top: 16px;
        }
    }
    

    &__title {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1.7px;
        &-top {
            margin-top: -10px;
        }
        span {
            display: block;
            color: $accent-color;
            font-size: 18px;
            font-weight: 100;
            margin-top: 13px;
            margin-bottom: 39px;
            letter-spacing: 0.9px;
        }
    }
    &__description {
        font-family: 'Open Sans', serif;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 24px;
        letter-spacing: 0.7px;
    }
}

.block-book {
    display: flex;
    justify-content: flex-start;
    &-demo {
        display: block;
        width: 447px;
        height: 643px;
        background-image: url('../img/book.svg');
        background-repeat: no-repeat;
        flex-basis: 500px;
    }
}


.block-author {
    display: flex;
    justify-content: space-between;
}


.block-ava {
    position: relative;
    &__svg {
        position: absolute;
        z-index: -1;
        right: 0;
    }
    &__img {
        margin-top: 48px;
        margin-right: 44px;
    }
}


.page {
    padding-top: 161px;
}