@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$light-color: #fff;
$accent-color: #65e4a7;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;


body {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    
}

h3 {
    font-size: 24px;
}

.page-main {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-color;
    padding-bottom: 159px;
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 180px;
    &__logo {
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/Logo.svg);
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        font-family: 'Open Sans', serif;
        &__item {  
            margin-left: 20px;
        }
        &__link {
            text-decoration: none;
            color: $light-color;
            letter-spacing: 0.8px;
            border-bottom: 3px solid transparent;
            transition: .2s;
            margin-bottom: 46px;
            &:hover {
                border-bottom: 3px solid $accent-color;
                padding-bottom: 3px;
            }
        }
        &__link.active {
            border-bottom: 3px solid $accent-color;
            padding-bottom: 3px;
        }
    }
}

.block-text {
    small {
        letter-spacing: 0px;
        font-size: 12px;
        font-weight: 100;
        font-style: italic;
    }
    flex-basis: calc(93% - 500px);
    &__btn {
        display: block;
        background-color: #65e4a7;
        color: #fff;
        text-decoration: none;
        max-width: 238px;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        margin-top: 47px;
        letter-spacing: 0.7px;
        padding: 14px 0px;
        margin-bottom: 20px;
    }
        
    &__name {
        font-family: 'Open Sans', serif;
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 28px;
        margin-top: 3px;
        &_top {
            margin-top: 16px;
        }
    }
    

    &__title {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1.7px;
        &-top {
            margin-top: -10px;
        }
        span {
            display: block;
            color: $accent-color;
            font-size: 18px;
            font-weight: 100;
            margin-top: 13px;
            margin-bottom: 39px;
            letter-spacing: 0.9px;
        }
    }
    &__description {
        font-family: 'Open Sans', serif;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 24px;
        letter-spacing: 0.7px;
    }
}

.block-book {
    display: flex;
    justify-content: flex-start;
    &-demo {
        display: block;
        width: 447px;
        height: 643px;
        background-image: url('../img/book.svg');
        background-repeat: no-repeat;
        flex-basis: 500px;
    }
}


.block-author {
    display: flex;
    justify-content: space-between;
}


.block-ava {
    position: relative;
    &__svg {
        position: absolute;
        z-index: -1;
        right: 0;
    }
    &__img {
        margin-top: 48px;
        margin-right: 44px;
    }
}

.block-counter {
    display: flex;
    justify-content: space-around;
    margin-top: 161px;
    padding-bottom: 126px;
    p {
        font-family: 'Open Sans', serif;
        font-size: 18px;
        text-align: center;
        span {
            font-family: 'Roboto Slab', serif;
            font-size: 80px;
            font-weight: 100;
            display: block;
            color: $accent-color;
            margin-bottom: 13px;
        }
    }
}

.page {
    padding-top: 161px;
    &_gray {
        background-color: $bg-light-color;
    }
    &__title {
        font-size: 48px;
        text-align: center;
        letter-spacing: 2px;
    }
    &__subtitle {
        color: $accent-color;
        font-size: 18px;
        display: block;
        margin-top: 13px;
        letter-spacing: 1px;
    }
}


.block-about {
    display: flex;
    justify-content: space-between;
    margin-top: 84px;
    p {
        font-family: "Open Sans", serif;
    }

    h3 {
        margin-bottom: 25px;
        letter-spacing: 1.2px;
        margin-bottom: 20px;
    }
    &__text {
        flex-basis: 40%;
        line-height: 24px;


        &-description {
            letter-spacing: 0.8px;
        }
        
        &__features {
            font-family: "Roboto Slab", serif;
            font-size: 18px;
            margin-top: -2px;
            letter-spacing: 1.4px;
            font-weight: 700;
            display: flex;
            align-items: center;
            &__list {
                display: flex;
                list-style-type: none;
                margin-left: 17px;
                &__item {
                    margin-right: 10px;
                    &__link {
                        &-icon {
                            color: $accent-color;
                        }
                    }
                }
            }
        }
    }



    &__table {
        flex-basis: 50%;
        &__list {
            margin: 0;
            margin-top: 25px;
            padding: 0;
            counter-reset: list;
            column-count: 2;
            li {
                position: relative;
                padding-left: 37px;
                list-style-type: none;
                counter-increment: list;
                margin-left: 14px;
                margin-bottom: 8px;
                line-height: 24px;
                &::before {
                    content: counter(list) ". ";
                }

                &::after {
                    position: absolute;
                    content: "+";
                    left: 0;
                    background-color: $accent-color;
                    color: $light-color;
                    padding: 1px 6px;
                    font-family: "Open Sans", serif;
                    font-size: 15px;
                    line-height: 21px;
                }
            }
        }
        &-button {
            border: none;
            color: $bg-light-color;
            background-color: $accent-color;
            padding: 15px 45px;
            border-radius: 5%;
            margin-top: 28px;
            margin-left: 16px;
            font-family: "Roboto Slab", serif;
        }

        &-title {
            font-family: "Roboto Slab", serif;
            position: relative;
            left: 12px;
        }
    }
}

